<h2>For Zip code <%= symbol %>, we recommend visiting: <%= recommendation %>!</h2>
<p>Address : <%= location %></p>

<a href= <%= parsedLocation %>>Google Maps Link for <%= recommendation %></a>

<br>

<img class="img-fluid" src="https://static.more.com/wp-content/uploads/migrated/friends-dining-out-together.jpg" alt="Picture of friends at a restaurant" width = "100%">

